.wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .loginBoxWrapper {
        text-align: center;
    }

    .signInWithGithub {
        transition: 0.2s;
        cursor: pointer;
        background: transparent;
        margin-top: 32px;
        padding: 0 20px;
        height: 46px;
        color: #DAD88E;
        border: 0.5px solid #DAD88E;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;
        border-radius: 5px;
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        svg {
            margin-right: 16px;
        }
    
        &:hover {
            transition: 0.2s;
            background: #DAD88E;
            color: black;
        }
    }
}
