body {
    margin: 0;
    background-color: #121214;
    color: white;
    font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #DAD88E;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #eceab2;
}
